<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>536180320513-oc2e5m4bv2pq3lgdfuabv2qafengg4gh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536180320513-oc2e5m4bv2pq3lgdfuabv2qafengg4gh</string>
	<key>API_KEY</key>
	<string>AIzaSyDp8L45CwQL0bLWy1wMWQCO9a98oRH0bGU</string>
	<key>GCM_SENDER_ID</key>
	<string>536180320513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Stylendar</string>
	<key>PROJECT_ID</key>
	<string>stylendar-bfe97</string>
	<key>STORAGE_BUCKET</key>
	<string>stylendar-bfe97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:536180320513:ios:6aa66c9b579d682c</string>
	<key>DATABASE_URL</key>
	<string>https://stylendar-bfe97.firebaseio.com</string>
</dict>
</plist>